* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: 16px;
}

:root {
    --cor-fundo: #FFFFD6;
    --cor-texto: #0E181B;
    --cor-principial: #C97C5D;
    --cor-destaque: #6B2737;

    --espaco-pequeno: 8px;
    --espaco-medio: 16px;
    --espaco-grande: 32px;
    --espaco-seccao: 64px;

    --curva-caixa: 12px;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "header container" 
        "header footer";
}

header {
    position: sticky;
    top: 0;
    height: 100vh;
    color: var(--cor-texto);
    background-color: var(--cor-principial);

    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--espaco-seccao);
    gap: var(--espaco-seccao);
}

.container {
    grid-area: container;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

footer {
    grid-area: footer;
    color: var(--cor-fundo);
    background-color: var(--cor-texto);
}

.navegacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--espaco-medio);
}

.botao {
    width: 80%;
    padding: var(--espaco-medio);

    text-decoration: none;
    font-weight: 600;

    color: var(--cor-fundo);
    border-style: solid;
    border-color: var(--cor-fundo);
    border-radius: var(--curva-caixa);

    display:flex;
    justify-content: center;

    font-size: 20px;
}

.botao:hover {
    color: var(--cor-principial);
    background-color: var(--cor-fundo);
}

.botao:active {
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
}